<template>
  <div :class="{ 'is-active': isActive,
  'is-loading': isLoading }">
    <h2>{{ titol }}</h2>
    <p>{{ descripcio }}</p>
  </div>
</template>


<script>
export default {
  name: "provaBindClasse",
  data (){
    return{
      isActive : true,
      isLoading : true,
      titol : 'Prova v-bind:classe',
      descripcio : 'Comprovant si funciona'
    }
  }
}
</script>

<style scoped>
.is-active {
  background-color: fuchsia;
}
.is-loading {
  cursor: progress;
}
</style>