<template>
  <div>
    <prova-props-fill :message="msg" />

  </div>
</template>

<script>
import ProvaPropsFill from "@/components/provaPropsHijo";
export default {
  name: "provaPropsPadre",
  components: {ProvaPropsFill},
  data() {
    return {
      msg: 'Marc: Traigo la carta de expulsión!'
    }
  }
}
</script>

<style scoped>

</style>
