<template>
  <div class="container">
    <h2>Component fill</h2>
    <input v-model="valor" />
    <button @click="canviarValor">Canviar valor</button>
  </div>
</template>

<script>
export default {
  name: "provaEmitFill",
  data(){
    return {
      valor : "Soy muy cutre"
    }
  },
  methods: {
    canviarValor() {
      console.log(this.valor);
      this.$emit('valorCanviat', this.valor);
    }
  }
}
</script>

<style scoped>

</style>
