<template>
  <div class="container">
    <h2>Prova Bind 2</h2>
    <input type="text" :value="text" :disabled="disabled" @input="actualitzaText" /><br/>
    <input type="checkbox" v-model="disabled"/>
    <p v-if="disabled">Aquest Input està deshabilitat.</p>
    <p>El text de l'input és: {{text}}</p>
  </div>
</template>

<script>
export default {
  name: "provaBind2",
  data() {
    return {
      text: 'Algú té el meu carregador???',
      disabled: false
    };
  },
  methods: {
    actualitzaText(event) {
      this.text = event.target.value;
    }
  }
}
</script>

<style scoped>
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
</style>