<template>
  <div class="container">
    <button @click="fetchData">Carrega les dades</button>
    <ul>
      <li v-for="user in users" :key="user.id">{{ user.name }}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "provaAxios",
  data() {
    return {
      users: [],
    };
  },
  methods: {
    fetchData() {
      axios.get('https://jsonplaceholder.typicode.com/users')
          .then(response => {
            this.users = response.data;
          })
          .catch(error => {
            console.log(error);
          });
    },
  },
}
</script>

<style scoped>
ul {
  list-style-type:none;
}
</style>