<template>
  <h1 class="text-uppercase bg-danger text-warning">Lucas no suplantes las identidades!!!!</h1>
</template>

<script>
export default {
  name: `prova1`,
}
</script>

<style scoped>

</style>
