<template>
  <div class="container">
    <h2>Provant paràmetres</h2>
    <p>Id: {{ id }}</p>
  </div>
</template>

<script>
export default {
  name: "provaParam",
  props: {
    id: {
      type: String,
      required: true
    }
  },

}
</script>

<style scoped>

</style>
