<template>
  <div class="container">
    <h1>Prova fetch: {{ message }}</h1>
  </div>
</template>

<script>
export default {
  name: "provaFetch",
  data() {
    return {
      message: 'Esperant resposta ...',
    };
  },
  mounted() {
    // Després de construir el DOM, es fa la petició
    fetch('https://jsonplaceholder.typicode.com/todos/1')
        .then(response => response.json())
        .then(data => {
          this.message = data.title;
        })
        .catch(error => {
          console.error('Error:', error);
        });
  },
}
</script>

<style scoped>

</style>