<template>
  <div class="container">
    <button @click="mostrar=!mostrar">Mostra</button>
    <transition name="fade" mode="out-in">
      <div v-if="mostrar" v-show="mostrar" class="card">
      <!--<div class="card" v-show="mostrar" mode="out-in" >-->
        <img :src="imatge" alt="Imatge del producte">
        <div class="card-body">
          <h2>{{ nomProducte }}</h2>
          <p>{{ descripcio }}</p>
          <p>{{ preu }}€</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "provaTransicio3",
  data() {
    return {
      mostrar: true,
      ocultar: true,
      nomProducte: "Producte Estrella",
      descripcio: "Aquest és el nostre producte més popular!",
      preu: 19.99,
      imatge: "https://mercatderubi.cat/wp-content/uploads/2020/11/brocoli-fruta-y-verdura-verduras-y-hortalizas.jpg"
    }
  },
  methods: {
    toggleMostrar() {
      this.mostrar = true;
      this.ocultar = false;
    },
    toggleOcultar() {
      this.mostrar = false;
      this.ocultar = true;
    }
  }
}
</script>

<style scoped>
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

</style>
