<template>
  <div>
    <p>Soy Lucas: {{ message }}</p>
  </div>
</template>

<script>
export default {
  name: "ProvaPropsFill",
  props: {
    message: {
      type:String,
      default : "És una prova",
      required : true
    },
  },
}
</script>

<style scoped>

</style>
