<template>
  <div class="container">
    <h1> Pàgina Inicial </h1>
    <button @click="redirectToAbout()"> Anar a la pàgina Sobre </button>
    <button @click="redirectToExternalLink()"> Redireccionament Extern </button>
    <button @click="redirectToAboutReplace()"> Anar a la pàgina Sobre </button>
  </div>
</template>

<script>

import provaRutacicle from "@/components/provaRutacicle.vue";
export default {
  name: "provaRedireccio",
  methods: {
    redirectToAbout() {
      // Hi ha 2 maneres de redireccionar una directament
      // usant $router amb el mètode push
      //this.$router.push('/about');
      // Altra manera és amb una variable amb
      // tots els paràmetres
      const route = { path: '/cicle/:id', name: 'provaRutaCicle',
        component: provaRutacicle, params: { id: 1 } };
      this.$router.push(route);
    },
    redirectToExternalLink() {
      window.location.href = 'https://www.xataka.com/basics/que-midjourney';
    },
    redirectToAboutReplace(){
      this.$router.replace('/about');
    }
  }
}
</script>

<style scoped>

</style>
