<template>
<h1>Soy Lucas, el padre. Soy mejor que el hijo aunque me robe!! Pero doy a DAMVI</h1>
  <prova-fill></prova-fill>
</template>

<script>
import ProvaFill from "@/components/provaFill";
export default {
  name: "provaLucas",
  components: {ProvaFill}
}
</script>

<style scoped>

</style>
