<template>
  <h1>Presentación: Soy Alberto Galera, hijo de Lucas.</h1>
  <h1>Le he robado a mi padre 2 cargadores jaja!!</h1>
</template>

<script>
export default {
  name: "provaFill"
}
</script>

<style scoped>

</style>
