<template>
  <div class="container">
    <h2>Component pare</h2>
    <p>Valor a passar al fill: {{ valor }}</p>
    <prova-emit-fill @valorCanviat="ActualitzarValor"></prova-emit-fill>
  </div>
</template>

<script>
import ProvaEmitFill from "@/components/provaEmitFill";
export default {
  name: "provaEmitPare",
  components: {ProvaEmitFill},
  data(){
    return{
      valor:""
    }
  },
  methods: {
    ActualitzarValor(nouValor) {
      console.log(nouValor);
      this.valor = nouValor;
    }
  }
}
</script>

<style scoped>
h2{
  background-color: aqua;
}
</style>
