<template>
  <div class="container">
    <h1>Cicle de vida</h1>
    <h2>ID: {{ $route.params.id }}</h2>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  name: "provaRutaCicle",
  data() {
    return {
      message: 'Provant cicle de vida',
      id:0
    };
  },
beforeRouteEnter(to, from, next) {
  console.log('Abans entrar ruta');
  next();
},
// Perquè funcioni Update primer URL:
// http://localhost:8080/param/3
// Després clicar a l'enllaç.
beforeRouteUpdate(to, from, next) {
  console.log('Abans actualitza ruta');
  this.fetchData(to.params.id);
  next();
},
// Clicar a qualsevol altre ruta
beforeRouteLeave(to, from, next) {
  console.log('Abans de deixar la ruta');
  next();
},
methods: {
  fetchData(id) {
    // aquí pots fer una crida a l'API per obtenir
    // la informació del producte amb l'ID proporcionat
    this.id = {id: id, description: 'Prova Cicle'};
  },
}
}
</script>

<style scoped>

</style>
