<template>
  <div class="container">
    <button @click="mostrarLlista = !mostrarLlista">Mostrar / Ocultar Llista</button>
    <transition name="slide-fade">
      <ul v-if="mostrarLlista" class="task-list">
        <li v-for="(task, index) in activitats" :key="index">{{ task }}</li>
      </ul>
    </transition>
  </div>
</template>

<script>
export default {
  name: "provaTransició2",
  data() {
    return {
      mostrarLlista: false,
      activitats: ["Comprar pizzes", "Treballar",
        "Estudiar programació web",
        "Veure Monster per no dormir"]
    }
  }
}
</script>

<style scoped>
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 1s ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
ul {
  list-style-type:none;
}
</style>