<template>
  <div class="container" :class="userClass">
    <h2>{{ user.nom }}</h2>
    <p>{{ user.email }}</p>
  </div>
</template>

<script>
export default {
  name: "provaBindClass2",
  data(){
    return {
      user : {
        avatar: 'https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_83424697/fee_786_587_png',
        nom :'Alumne Sense carregador',
        //nom: undefined,
        login : 'super3',
        email : 'alumne@sensecarregador.org',
        lloc : 'Sabadell',
        centre : 'IES Sabadell',
      }
    }
  },
  computed:{
    userClass(){
      return {
        'userConNombre': this.user.nom,
        //'userConNombre': true,
      }
    }
  }
}

</script>

<style scoped>
.userConNombre {
  color: magenta;
}
</style>