<template>
  <div class="container">
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>platform</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="game in games" :key="game.title">
        <td>{{ game.title }}</td>
        <td>{{ game.platform }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import gamesData from '@/components/videojocs.json';
export default {
  name: "provaFitxers",
  data() {
    return {
      games: [],
    };
  },
  mounted() {
    this.games = gamesData.games;
  },
};
</script>

<style scoped>

</style>