<template>
  <div class="container">
    <img :src="imageURL" />
    <!--<img v-bind:src="imageURL" />-->
  </div>
</template>

<script>
export default {
  name: "provaBindSrc",
  data()
  {
    return {
      imageURL: 'https://mercatderubi.cat/wp-content/uploads/2020/11/brocoli-fruta-y-verdura-verduras-y-hortalizas.jpg',
    }
  }
}
</script>

<style scoped>

</style>
