<template>
  <div class="container">
    <ul>
      <li v-for="(activitat, index) in activitats"
          :key="index" :id="'Activitat-' + index">{{ activitat }}</li>
    </ul>
    <div>
      <input type="text" v-model="novaActivitat">
      <button @click="afegirActivitat">Nova Tasca</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "provaBindId",
  data() {
    return {
      activitats: ['Typescript I', 'Typescript II',
        'Usabilitat I', 'Usabilitat II'],
      novaActivitat: '',
    }
  },
  methods: {
    afegirActivitat() {
      if (this.novaActivitat !== '') {
        this.activitats.push(this.novaActivitat)
        this.novaActivitat = ''
      }
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type:none;
}
</style>
