<template>
  <div class="container">
    <p>Aquest és el contingut del fill Malvado</p>
  </div>
</template>

<script>
export default {
  name: "provaComponentCicle",
  data() {
    return {
      message: "Aquest és el contingut del component fill del cicle."
    }
  },
  beforeUnmount() {
    console.log("Prova Fill Cicle està a punt de ser destruït.")
  }
}
</script>

<style scoped>

</style>
