<template>
  <div class="container">
    <p>El resultat és: {{ resultat }}</p>
    <input v-model="valor" />
    <button @click="incrementar">Incrementar</button>
  </div>
</template>

<script>
export default {
  name: "provaWatch",
  data() {
    return {
      comptador: 0,
      resultat: 0,
      valor: 0

    };
  },

watch: {
  comptador(nouValor, valorAntic) {
    console.log("Valor: " + this.valor)
    console.log("Nou Valor: " + nouValor)
    console.log("Antic Valor: " + valorAntic)
    console.log("Resultat: " + this.resultat)
    this.resultat = nouValor + parseInt(this.valor);
    console.log("Resultat: " + this.resultat)

  }
},
  methods: {
    incrementar() {
      this.comptador++;
    }
  }
}
</script>

<style scoped>

</style>
