<template>
  <div class="container">
    <div>
      <button @click="mostrarElement">Mostra/Amaga</button>
      <div v-show="showElement">
        <p>Prova de v-show</p>
      </div>
    </div>
    <button @click="mostrarText()">Mostrar Text</button>
    <button @click="mostrarHTML()">Mostrar HTML</button>
    <div v-show="show">
      <h3>Text:</h3>
      <p v-text="text"></p>
      <h3>HTML:</h3>
      <div v-html="html"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "provaDirectiva2",
  data() {
    return {
      showElement: true,
      show: false,
      text: 'Estic molt content de tenir moltes activitats',
      html: '<strong>Vull fer deures el cap de setmana</strong>',
    }
  },
  methods: {
    mostrarElement() {
      this.showElement = !this.showElement;
    },
    mostrarText() {
      this.show = true;
      this.html = '<b>Donat al botó de mostrar HTML<b> ' +
          '<strong>Vull fer deures el cap de setmana</strong>';
    },
    mostrarHTML() {
      this.show = true;
      this.text = 'Donat al botó de mostrar text. ' +
          'Estic molt content de tenir moltes activitats';
    }
  }
}
</script>

<style scoped>

</style>