<template>

  <div class="container contenidor">
    <div class="capsa" v-bind:style="{ backgroundColor: bgColor,
    color: textColor, width: amplada + 'px', height: alçada + 'px' }">
      <p>Això és una capsa usable!!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "provaBindStyle",
  data() {
    return {
      bgColor: 'lime',
      textColor: 'hotpink',
      amplada: 200,
      alçada: 150
    }
  },
}
</script>
.contenidor {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.capsa {
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}
<style scoped>

</style>
