<template>
  <div class="container">
    <h1>{{ message1 }}</h1>
    <h1>{{ message2 }}</h1>
  </div>
  <div>
    <button @click="destroyComponent">Destruir Fill Malvado</button>
    <prova-component-cicle v-if="mostrarComponent" />
  </div>

</template>

<script>
import ProvaComponentCicle from "@/components/provaComponentCicle";
export default {
  name: "provaCicle",
  components: {ProvaComponentCicle},
  data() {
    return {
      message1: "Sense Actualitzar",
      message2: "Sense Actualitzar",
      mostrarComponent: true,
    };
  },
  created() {
    setTimeout(() => {
      this.message1 = "El component ha estat creat.";
    }, 2000);
  },
  mounted() {
    setTimeout(() => {
      this.message2 = "El component ha estat muntat.";
    }, 4000);

  },
  methods: {
    destroyComponent() {
      this.mostrarComponent = false
    }
  }
}
</script>

<style scoped>

</style>
