<template>
  <div v-on:mousemove="actualitzaPosicio">
    <!--<div @mousemove="actualitzaPosicio">-->
      <p>Posició del ratolí: {{ posX }}, {{ posY }}</p>
    </div>
  </template>

  <script>
  export default {
    name: "provaDirectiva",
    data() {
      return {
        posX: 0,
        posY: 0
      };
    },
    methods: {
      actualitzaPosicio(event) {
        this.posX = event.clientX;
        this.posY = event.clientY;
      }
    }
  }
  </script>

  <style scoped>

  </style>