<template>
  <div class="container">
    <label>Frase:</label>
    <input v-model="frase" />
    <p>Longitud del frase: {{ longitudFrase }}</p>
  </div>
</template>

<script>
export default {
  name: "provaComputed",
  data() {
    return {
      frase: "",
      lucas: ""
    };
  },
  computed: {
    longitudFrase() {
      return this.frase.length;
    },
  }
}
</script>

<style scoped>

</style>
