<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <!--<HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>-->
  <h1 class="text-light bg-info">Welcome Ajax</h1>

  <router-link to="/">Inici | </router-link>
  <router-link to="/home">Home | </router-link>
  <router-link to="/about">About | </router-link>
  <router-link to="/param/3">Parametre | </router-link>
  <!--<router-link to="/cicle">Cicle</router-link><br/>-->
  <router-link :to="{ name: 'provaRutaCicle', params: { id: 1 } }">Cicle vida</router-link>
  <router-view></router-view>
  <prova-redireccio/>

  <prova-fetch/>
  <prova-axios/>
<!--
  <prova1></prova1>
  <prova1></prova1>
  <prova-lucas/>
  <prova-props-padre/>
  <prova-props-fill/>
  <prova-computed/>
  <prova-watch/>
  <prova-cicle/>
  <prova-emit-pare/>
  <prova-bind-src/>
  <prova-bind-id/>
  <prova-bind-style/>
  <prova-bind2/>
  <prova-bind-classe/>
  <prova-bind-class2/>
  <prova-directiva/>
  <prova-directiva2/>
  <prova-directiva3/>
  <prova-transició2/>
  <prova-transicio3/>-->
  <br/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HelloWorld from './components/HelloWorld.vue';
import Prova1 from "@/components/prova1.vue";
import ProvaLucas from "@/components/provaPare.vue";
import ProvaPropsPadre from "@/components/provaPropsPadre.vue";
import ProvaPropsFill from "@/components/provaPropsHijo.vue";
import ProvaComputed from "@/components/provaComputed.vue";
import ProvaWatch from "@/components/provaWatch.vue";
import ProvaCicle from "@/components/provaCicle.vue";
import ProvaEmitPare from "@/components/provaEmitPare.vue";
import ProvaBindSrc from "@/components/provaBindSrc.vue";
import ProvaBindId from "@/components/provaBindId.vue";
import ProvaBindStyle from "@/components/provaBindStyle.vue";
import ProvaDirectiva3 from "@/components/provaDirectiva3.vue";
import ProvaTransició2 from "@/components/provaTransició2.vue";
import ProvaTransicio3 from "@/components/provaTransicio3.vue";
import ProvaDirectiva2 from "@/components/provaDirectiva2.vue";
import ProvaDirectiva from "@/components/provaDirectiva.vue";
import ProvaBind2 from "@/components/provaBind2.vue";
import ProvaBindClasse from "@/components/provaBindClasse.vue";
import ProvaBindClass2 from "@/components/provaBindClass2.vue";
import ProvaRedireccio from "@/components/provaRedireccio.vue";
import ProvaFetch from "@/components/provaFetch.vue";
import ProvaAxios from "@/components/provaAxios.vue";

@Options({
  components: {
    ProvaAxios,
    ProvaFetch,
    ProvaRedireccio,
    ProvaBindClass2,
    ProvaBindClasse,
    ProvaBind2,
    ProvaDirectiva,
    ProvaDirectiva2,
    ProvaTransicio3,
    ProvaTransició2,
    ProvaDirectiva3,
    ProvaBindStyle,
    ProvaBindId,
    ProvaBindSrc,
    ProvaEmitPare,
    ProvaCicle,
    ProvaWatch,
    ProvaComputed,
    ProvaPropsFill,
    ProvaPropsPadre,
    ProvaLucas,
    Prova1,
    HelloWorld,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

}
/*
h1{
  background-color: hotpink;
}*/
</style>
